# Environnement / secrets
.env
backend/.env

# Python
backend/venv/
__pycache__/
*.pyc
backend/staticfiles/
backend/media/

# Node / frontend
frontend/node_modules/
frontend/dist/

# Editeurs / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db

# Logs
*.log
